<%- include('index') %>

<h2 class="text-center" style="color:white">Lista occhiali</h2>
<hr>
<div class="container">
  <div id="occhi"></div><!--div per generazione lista prodotti-->
  <div id="prova"></div>
</div>


<script type='text/javascript'> 
  function loadOcchiali() {
    const xhttp=new XMLHttpRequest()
    xhttp.open("GET","/eyes",false)
    xhttp.send(); 
    let occhiali=JSON.parse(xhttp.responseText) 
    console.log(occhiali)
    if (!occhiali){document.getElementById('occhi').innerHTML="<h1>Nessun prodotto presente in archivio"
                    return}
    for (let occhiale of occhiali){
        let x=`<div style="color:white">
                <h1>Nome: ${occhiale.nome}</h1>
                <h2>Gender: ${occhiale.gender}</h2>
                <h3>Materiale: ${occhiale.materiale}</h3>
                <h3>Prezzo: ${occhiale.prezzo}</h3>
                <button onClick="setBuy('${occhiale._id}')" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Buy</button>
                <h3 style="color:yellow" id='${occhiale._id}'></h3>
                </div><hr>`
                
        const tab=document.getElementById('occhi')
        tab.insertAdjacentHTML('beforeend',x)
    }
  }

  function setBuy(id){
    document.getElementById(id).innerHTML="logged obbligatory"
    const myTimeout=setTimeout(function(){document.getElementById(id).innerHTML=""},2000)
  }
  loadOcchiali()
</script>
</body>
</html>