<%- include('authHome') %>
<style>
  label {color:black}
</style>
<h2 class="text-center" style="color:white">Lista occhiali</h2>
<div class="container">
  <div id="occhi"></div><!--div per generazione lista prodotti-->
</div>

<!-- Modal INDIRIZZO DI SPEDIZIONE  -->
<div id="myModal" class="modal fade" role="dialog">
  <!-- qui compare la form di bootstrap -->
</div>

<script type='text/javascript'> 
  function loadOcchiali() {
    const xhttp=new XMLHttpRequest()
    xhttp.open("GET","/eyes",false)
    xhttp.send(); 
    let occhiali=JSON.parse(xhttp.responseText) 
    console.log(occhiali)
    if (!occhiali){document.getElementById('occhi').innerHTML="<h1>Nessun prodotto presente in archivio"
                    return}
    for (let occhiale of occhiali){
        let x=`<div style="color:white">
                <h1>Nome: ${occhiale.nome}</h1>
                <h2>Gender: ${occhiale.gender}</h2>
                <h3>Materiale: ${occhiale.materiale}</h3>
                <h3>Prezzo: ${occhiale.prezzo}</h3>
                <button onClick="setBuy('${occhiale._id}')" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Buy</button>
            </div><hr>`              
        const tab=document.getElementById('occhi')
        tab.insertAdjacentHTML('beforeend',x)}}

  function setBuy(id){
    const idOcchiale=id
    let text=`
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Indirizzo di spedizione</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="col-md-6">
            <label  for="nome">Nome:</label>
            <input class="form-control" id="nome" type="text" name="nome" value="Leuro">
            <label  for="cognome">Cognome:</label>
            <input class="form-control" id="cognome" type="text" name="cognome" value="Borsini">
            <label  for="via">Via:</label>
            <input class="form-control" id="via" type="text" name="via" value="Russi 16">
            <label for="citta">citta:</label>
            <input class="form-control" id="citta" type="text" name="citta" value="Ancona">
            <label  for="cap">Cap:</label>
            <input class="form-control" id="cap" type="text" name="cap" value="60131">
            <br>
            <p style="cursor:pointer" onclick="confermaDati('${idOcchiale}')"><b>Avanti</b></p>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>`
    document.getElementById('myModal').innerHTML=text}
 
  function confermaDati(idOcchiale) {
    const nome=document.getElementById('nome').value
    const cognome=document.getElementById('cognome').value
    const via=document.getElementById('via').value
    const citta=document.getElementById('citta').value
    const cap=document.getElementById('cap').value
    let text=`
  <div class="modal-dialog">
    <div class="modal-content" style="background-color:#dbead5">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Conferma dei dati</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="col-md-6">
            <label  for="nome">Nome:</label>
            <input class="form-control" id="nome" type="text" name="nome" value="${nome}">
            <label  for="cognome">Cognome:</label>
            <input class="form-control" id="cognome" type="text" name="cognome" value="${cognome}">
            <label  for="via">Via:</label>
            <input class="form-control" id="via" type="text" name="via" value="${via}">
            <label for="citta">citta:</label>
            <input class="form-control" id="citta" type="text" name="citta" value="${citta}">
            <label  for="cap">Cap:</label>
            <input class="form-control" id="cap" type="text" name="cap" value="${cap}">
            <br>
            <p style="cursor:pointer" onclick="creaOrdine('${idOcchiale}')"><b>Conferma</b></p>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="setBuy('${idOcchiale}')">Indietro</button>
      </div>
    </div>
  </div>`
    document.getElementById('myModal').innerHTML=text}

  function creaOrdine(idOcchiale) {
    fetch(`/eyes/${idOcchiale}`,{method:'GET',header:{'Content-Type':'application/json'}})
    .then(response=>response.json())
    .then(occhiale=>{
    const nome=document.getElementById('nome').value
    const cognome=document.getElementById('cognome').value
    const via=document.getElementById('via').value
    const citta=document.getElementById('citta').value
    const cap=document.getElementById('cap').value
    let text=`
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">Riassunto dei dati</h2>
      </div>
      <div class="modal-body">
        <form action="/order" method="POST">
          <div class="col-md-6">     
            <label  for="nome">Nome:</label>
            <input class="form-control" id="nome" type="text" name="nome" value="${nome}">
            <label  for="cognome">Cognome:</label>
            <input class="form-control" id="cognome" type="text" name="cognome" value="${cognome}">
            <label  for="via">Via:</label>
            <input class="form-control" id="via" type="text" name="via" value="${via}">
            <label for="citta">citta:</label>
            <input class="form-control" id="citta" type="text" name="citta" value="${citta}">
            <label  for="cap">Cap:</label>
            <input class="form-control" id="cap" type="text" name="cap" value="${cap}">
            <h4>Nome occhiale: ${occhiale.nome}</h4>
            <h4>Gender: ${occhiale.gender}</h4>
            <h4>Materiale: ${occhiale.materiale}</h4><hr>
            <h4 style="color:red">Prezzo: ${occhiale.prezzo} €</h4>
            <input type="hidden" name="idOcchiale" value="${idOcchiale}">
            <input type="hidden" name="idCliente" value="${idCliente}">
            <br>
            <button type="submit"><b>Vai al pagamento</b></button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="setBuy('${idOcchiale}')">Indietro</button>
      </div>
    </div>
  </div>`
    document.getElementById('myModal').innerHTML=text})}
  loadOcchiali()

  // GET COOKIE E SEND COOKIE
  let x=document.cookie; let data=[] 
  let xy=x.split(';')
  for (let d=0; xy.length>d; d++ ) {
    let i=0; let xyz=xy[d].trim();  
    while (xyz.length>i) {
      if (xyz[i]=='=') {data.push(xyz.substring(i+1))}
      i++}}
  const idCliente=data[0]
  const scadenza = new Date(Date.now() +1800000).toUTCString()//data di oggi piu mezzo secondo
  document.cookie = `id=${idCliente}; expires=${scadenza}`
  
</script>
</body>
</html>